root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.java]
max_line_length = 100

# 메서드/생성자 호출 인자 줄바꿈
ij_java_call_parameters_wrap = on_every_item
ij_java_call_parameters_new_line_after_left_paren = true
ij_java_call_parameters_right_paren_on_new_line = true
ij_java_align_multiline_parameters_in_calls = false

# 체인 메서드 줄바꿈
ij_java_method_call_chain_wrap = on_every_item
ij_java_wrap_first_method_in_call_chain = true
ij_java_align_multiline_chained_methods = false